$screenshot-offset-mobile: 5px;
$screen-border-radius-mobile: 8px;
$screenshot-bottom-padding-mobile: 50px;

$screenshot-offset-tablet: 5px;
$screen-border-radius-tablet: 10px;
$screenshot-bottom-padding-tablet: 40px;

$screenshot-offset-desktop: 5px;
$screen-border-radius-desktop: 15px;
$screenshot-bottom-padding-desktop: 0;

* {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.page {
    -webkit-perspective: 1200px;                
    perspective: 1200px;   
}

[device] { 
    position: relative;
    animation: rotate 6s infinite linear;
}

@keyframes rotate {
    0% { 
        transform: rotateX(25deg ) rotateY(025deg ) rotateZ(5deg );
    }
    50% {
        transform: rotateX(45deg ) rotateY(180deg ) rotateZ(15deg );
    }
    100% { 
        transform: rotateX(25deg ) rotateY(270deg ) rotateZ(5deg );
    }
}

[device-type=desktop] {
    padding-bottom: 66%;
}

[device-type=mobile] {
    max-width: 360px;
    margin: 0 auto;
    padding-bottom: 85%;
}

[device-type=tablet] {
    padding-bottom: 66%;
}

.device-screenshot,
.device-overlay {
    position: absolute;
}

[device-type=tablet] {
    .device-screenshot,
    .device-overlay {
        top: $screenshot-offset-tablet;
        left: $screenshot-offset-tablet;
        right: $screenshot-offset-tablet;
        bottom: $screenshot-offset-tablet + $screenshot-bottom-padding-tablet;
        border-radius: $screen-border-radius-tablet;
        &:before, &:after {
            border-radius: $screen-border-radius-tablet;
        }
    }
}

[device-type=desktop] {
    .device-screenshot,
    .device-overlay {
        top: $screenshot-offset-desktop;
        left: $screenshot-offset-desktop;
        right: $screenshot-offset-desktop;
        bottom: $screenshot-offset-desktop + $screenshot-bottom-padding-desktop;
        border-radius: $screen-border-radius-desktop;
        &:before, &:after {
            border-radius: $screen-border-radius-desktop;
        }
    }
}

[device-type=mobile] {
    .device-screenshot,
    .device-overlay {
        top: $screenshot-offset-mobile;
        left: $screenshot-offset-mobile;
        right: $screenshot-offset-mobile;
        bottom: $screenshot-offset-mobile + $screenshot-bottom-padding-mobile;
        border-radius: $screen-border-radius-mobile;
        &:before, &:after {
            border-radius: $screen-border-radius-mobile;
        }
    }
}

.device-screenshot {
    background-size: 100%;
}

.device-overlay {
    overflow: hidden;
    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &:before {
        background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,0.2) 100%);
        opacity: 0.1;
    }
    &:after {
        box-shadow: inset 0 0 10px rgba(0,0,0,1);
    }
}

.device-underlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.device-underlay {
    background-color: #5d4257;
    background-image: linear-gradient(315deg, #5d4257 0%, #a5c7b7 74%);
}

[device-type=desktop] {
    .device-underlay {
        border-radius: $screen-border-radius-desktop;
    }
}

[device-type=mobile],
[device-type=tablet] {
    .device-underlay {
        border-radius: $screen-border-radius-mobile;
        &:after {
            content: '';
            position: absolute;
            bottom: $screenshot-offset-mobile;
            left: 50%;
            transform: translateX(-50%);
            width: $screenshot-bottom-padding-mobile - $screenshot-offset-mobile;
            height: $screenshot-bottom-padding-mobile - $screenshot-offset-mobile;
            border-radius: 50%;
            background: linear-gradient(45deg, rgba(0,0,0,0.1) 0%, rgba(25,25,25,0.5) 100%);
        }
    }
}

[device-type=tablet] {
    .device-underlay {
        border-radius: $screen-border-radius-tablet;
        &:after {
            bottom: $screenshot-offset-tablet;
            width: $screenshot-bottom-padding-tablet - $screenshot-offset-tablet;
            height: $screenshot-bottom-padding-tablet - $screenshot-offset-tablet;
        }
    }
}

[device] {
    * {
        opacity: 1;
    }
}

$device-thickness: 25px;

.device-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5d4257;
    background-image: linear-gradient(315deg, #5d4257 0%, #a5c7b7 74%);
    transform: translate3d(0,0,-$device-thickness);
    border-radius: $screen-border-radius-tablet;
}

.device-left,
.device-right,
.device-top,
.device-bottom {
    position: absolute;
    background-color: #5d4257;
    background-image: linear-gradient(315deg, #5d4257 0%, #a5c7b7 74%);
}

.device-left {
    background: #a5c7b7;
}

.device-left,
.device-right {
    top: $screen-border-radius-tablet;
    bottom: $screen-border-radius-tablet;
    left: 0;
    width: $device-thickness;
    transform: rotateY(270deg) translate3d(($device-thickness / 2) * -1, 0, ($device-thickness / 2))
}

.device-right {
    left: auto;
    right: 0;
    transform: rotateY(270deg) translate3d(($device-thickness / 2) * -1, 0, ($device-thickness / 2) * -1)
}

.device-top,
.device-bottom {
    top: 0;
    left: $screen-border-radius-tablet;
    right: $screen-border-radius-tablet;
    height: $device-thickness;
    transform: rotateX(90deg) translate3d(0, ($device-thickness / 2) * -1, ($device-thickness / 2))
}

.device-bottom {
    top: auto;
    bottom: 0;
    transform: rotateX(90deg) translate3d(0, ($device-thickness / 2) * -1, ($device-thickness / 2) * -1)
}